---
BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
AccessModifierOffset: -4
UseTab: Never
BreakBeforeBraces: Allman
Standard: Cpp03
BinPackParameters: false
BinPackArguments: false
AlignConsecutiveDeclarations: true
BreakConstructorInitializersBeforeComma: true
AllowShortFunctionsOnASingleLine: None
DerivePointerAlignment: false
PointerAlignment: Left
ColumnLimit: 80
